//
// Corporate Colours
//
$ideagen-blue: 		        #0A3254;
$ideagen-lightest-blue:   	#C6D8F1;
$ideagen-light-blue:     	#96B4DE;
$ideagen-mid-blue:        	#7EA6D7;
$ideagen-orange: 	        #E94C28;

//
// Navigation and Forms
//
$nav-hover-background:      #EFF2F6;
$nav-hover-border: 			#B4C3D5;
$nav-active-background:	  	#E1EAF5;
$nav-active-border:		  	#0A3254;
$menu-subtle-grey:        	#C7CED8;

$search-background:       	#F1F3f4;
$search-border:           	#E7EAEC;

$input-background:        	#F1F3f4;
$input-border:            	#E7EAEC;

//
// Product Colours
//
$qpulse-purple:           	#552988;
$coruson-blue:           	#0083C1;
$pentana-blue:            	#284B8F;
$dart-green:              	#329F7B;
$pleasereview-yellow:     	#E3AE36;
$academy-gray:            	#928E8D;
$academy-orange:          	#F04A23;
$easysite-blue:           	#355E9F;

//
// Form Validation
//
$error-background:        	#F2DEDE;
$error-border:            	#EED3D7;
$error-color:             	#B94A48;

$success-background:      	#DFF0D8;
$success-border:          	#D6E9C6;
$success-color:           	#468847;

$warning-background:      	#FCF8e3;
$warning-border:          	#FCF8e3;
$warning-color:           	#C09853;

$info-background:         	#D9EDF7;
$info-border:             	#BCE8F1;
$info-color:              	#3A87AD;

//
// Social Media Brands
//
$linkedin-blue:             #0077B5;
$twitter-blue:              #00aced;

//
// Fonts
//
$lato:          'Lato', Arial, Helvetica, sans-serif;
$open-sans:     'Open Sans', Arial, Helvetica, sans-serif;
$roboto:        'Roboto', Arial, Helvetica, sans-serif;
$font-awesome:  'FontAwesome';

$page-container-width: 			1360px;